* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.modules__titem {
  width: 100%;
  height: 60px;
  /* border: solid 1px white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
}
.modules__titem::hover {
  background: white;
}

.coupleItemModule {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 35px;
  padding-left: 15px;
  gap: 5px;
  color: gray;
  background: #d9dbff;
  cursor: pointer;
  text-decoration: none;
}
.coupleItemModule p {
  width: 100%;
  font-size: 14px;
  margin-bottom: 0;
}

@media (max-width: 1365px) {
  .coupleItemModule p {
    font-size: 12px;
  }
}

.central_active_link {
  background: white;
}

.navbar_item {
  padding: 10px;
  width: 100%;
}
.navbar_item:first-child(2) {
  background: red;
}
.navbar_active_link {
  background: #cdcffe;
}

/****** ORDERS TYPE ********/

.orderstype__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  background: #dbdbdb 0% 0% no-repeat padding-box;
  text-decoration: none;
  color: #3f4a59;
  padding: 6px;
  font-size: 15px;
}

.active__order__type {
  background: #4e5c6e !important;
  color: #ffffff;
}
